# Desafio Nintendo

Abra o arquivo "best-selling game consoles.xlsx" em um dataframe.
Substitua a palavra "NES" por "Nitendinho" no nome dos consoles e deixe todos os nomes em maiúsculos.
Filtre o nome dos consoles com data de release depois de 2010.
De um describe e info da base, substitua os missing values pela string "missing".
Filtre os consoles que foram descontinuados a menos de 2 anos da data de release.

In [4]:
import pandas as pd

In [5]:
#Lendo o .xlsx
df = pd.ExcelFile('best-selling game consoles.xlsx')

In [6]:
#Quais são as abas?
df.sheet_names

['info', 'consoles']

In [7]:
#Criando o df da aba que quero
df_consoles = pd.read_excel('best-selling game consoles.xlsx', sheet_name='consoles')

In [8]:
# Quais são as colunas?
df_consoles.columns

Index(['Console Name', 'Type', 'Company', 'Released Year',
       'Discontinuation Year', 'Units sold (million)', 'Remarks'],
      dtype='object')

In [9]:
#Olhando o tipo de informação de cada coluna 
df_consoles.dtypes

Console Name             object
Type                     object
Company                  object
Released Year             int64
Discontinuation Year      int64
Units sold (million)    float64
Remarks                  object
dtype: object

In [10]:
# Printando as 5 linhas para olhar a tabela
print(df_consoles.head(5))

      Console Name      Type   Company  Released Year  Discontinuation Year  \
0    PlayStation 2      Home      Sony           2000                  2013
1      Nintendo DS  Handheld  Nintendo           2004                  2013
2  Nintendo Switch    Hybrid  Nintendo           2017                     0
3         Game Boy  Handheld  Nintendo           1989                  2003
4   Game Boy Color  Handheld  Nintendo           1998                  2003

   Units sold (million)                                            Remarks
0                155.00           Final sales are greater than 155 million
1                154.02                                                NaN
2                122.55                                                NaN
3                 64.42  The Game Boy (1989) and the Game Boy Color (19...
4                 44.06                                                NaN

In [12]:
# Substituindo a palavra "NES" por "Nitendinho" no nome dos consoles e deixando todos os nomes em maiúsculos.
df_consoles['Console Name'] = df_consoles['Console Name'].str.replace('NES','Nitendinho')
df_consoles['Console Name'] = df_consoles['Console Name'].str.upper()

In [13]:
#Filtre o nome dos consoles com data de release depois de 2010.
df_consoles_filtrado = df_consoles[df_consoles['Released Year']>2010]

In [14]:
df_consoles_filtrado

,Console Name,Type,Company,Released Year,Discontinuation Year,Units sold (million),Remarks
2,NINTENDO SWITCH,Hybrid,Nintendo,2017,0,122.55,NaN
5,PLAYSTATION 4,Home,Sony,2013,0,117.20,NaN
12,NINTENDO 3DS,Handheld,Nintendo,2011,2020,75.94,NaN
14,XBOX ONE,Home,Microsoft,2013,2020,58.50,Estimated between 51-58.5 million
19,PLAYSTATION 5,Home,Sony,2020,0,30.00,NaN
23,XBOX SERIES X/S,Home,Microsoft,2020,0,18.50,Approximately around 18.5 million
24,WII U,Home,Nintendo,2012,2017,13.56,NaN
25,PLAYSTATION VITA,Handheld,Sony,2011,2019,15.00,Estimated between 10-15 million
33,SUPER NITENDINHO CLASSIC EDITION,Dedicated,Nintendo,2017,2018,5.28,NaN
35,NITENDINHO CLASSIC EDITION,Dedicated,Nintendo,2016,2018,3.56,NaN

In [15]:
#De um describe e info da base, substitua os missing values pela string "missing".
df_consoles_filtrado.describe(include='all')

,Console Name,Type,Company,Released Year,Discontinuation Year,Units sold (million),Remarks
count,10,10,10,10.000000,10.000000,10.000000,3
unique,10,4,3,NaN,NaN,NaN,3
top,NINTENDO SWITCH,Home,Nintendo,NaN,NaN,NaN,Estimated between 51-58.5 million
freq,1,5,5,NaN,NaN,NaN,1
mean,NaN,NaN,NaN,2015.000000,1211.200000,46.009000,NaN
std,NaN,NaN,NaN,3.464102,1042.435375,45.297622,NaN
min,NaN,NaN,NaN,2011.000000,0.000000,3.560000,NaN
25%,NaN,NaN,NaN,2012.250000,0.000000,13.920000,NaN
50%,NaN,NaN,NaN,2014.500000,2017.500000,24.250000,NaN
75%,NaN,NaN,NaN,2017.000000,2018.750000,71.580000,NaN
max,NaN,NaN,NaN,2020.000000,2020.000000,122.550000,NaN

In [16]:
print(df_consoles_filtrado.info())

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 2 to 35
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Console Name          10 non-null     object
 1   Type                  10 non-null     object
 2   Company               10 non-null     object
 3   Released Year         10 non-null     int64
 4   Discontinuation Year  10 non-null     int64
 5   Units sold (million)  10 non-null     float64
 6   Remarks               3 non-null      object
dtypes: float64(1), int64(2), object(4)
memory usage: 640.0+ bytes
None

In [17]:
# PROFF, não consegui aquir substituir pelo str.replace, pois ele substitui strings especificas né?.
    # Dessa forma, pesquisei na net e encontrei a função fillna
df_consoles_filtrado = df_consoles_filtrado.fillna("missing")

In [18]:
df_consoles_filtrado

,Console Name,Type,Company,Released Year,Discontinuation Year,Units sold (million),Remarks
2,NINTENDO SWITCH,Hybrid,Nintendo,2017,0,122.55,missing
5,PLAYSTATION 4,Home,Sony,2013,0,117.20,missing
12,NINTENDO 3DS,Handheld,Nintendo,2011,2020,75.94,missing
14,XBOX ONE,Home,Microsoft,2013,2020,58.50,Estimated between 51-58.5 million
19,PLAYSTATION 5,Home,Sony,2020,0,30.00,missing
23,XBOX SERIES X/S,Home,Microsoft,2020,0,18.50,Approximately around 18.5 million
24,WII U,Home,Nintendo,2012,2017,13.56,missing
25,PLAYSTATION VITA,Handheld,Sony,2011,2019,15.00,Estimated between 10-15 million
33,SUPER NITENDINHO CLASSIC EDITION,Dedicated,Nintendo,2017,2018,5.28,missing
35,NITENDINHO CLASSIC EDITION,Dedicated,Nintendo,2016,2018,3.56,missing